<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
 <!--   <serviceHostingEnvironment >
      <serviceActivations>
        <add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="./DvService.svc" service="DataVehicles4.Service"/>
      </serviceActivations>
    </serviceHostingEnvironment>-->

    <services>
      <service name="DataVehicles4.Service.DvService">
        <endpoint address="http://localhost:65000/DvService.svc" 
                  binding="basicHttpBinding"
                  contract="DataVehicles4.Service.IDvService" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="">
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
           <serviceMetadata httpGetEnabled="true"  />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
 <system.webServer>
  </system.webServer>
  
</configuration>
